
DATABASE_URL="postgresql://user:password@localhost:5432/library_dev"
DATABASE_URL_TEST="postgresql://user:password@localhost:5432/library_test"
JWT_SECRET="your-secret-here-min-32-characters"
PORT=3000
NODE_ENV=development